/* // ======================== CSS STYLES ========================
// File /@components/sections/FeaturesCarousel.css */
.features-carousel {
  padding: var(--spacing-3xl) 0;
  background: var(--color-white);
  overflow: hidden;
}

.features-carousel__container {
  max-width: 100%;
  padding: 0;
}

.features-carousel__track {
  display: flex;
  gap: var(--spacing-md);
  overflow-x: scroll;
  /* scroll-snap-type: x proximity; */
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0 var(--spacing-md) var(--spacing-xs);
}

.features-carousel__track::-webkit-scrollbar {
  display: none;
}

.features-carousel__card {
  position: relative;
  flex: 0 0 auto;
  width: 650px;
  height: 680px;
  border-radius: var(--radius-xxl);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  scroll-snap-align: start;
  overflow: hidden;
  user-select: none;
}

.features-carousel__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 53%);
  pointer-events: none;
}

.features-carousel__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding:var(--spacing-xlg);
  z-index: 1;
}

.features-carousel__title {
  font-size: 2.8rem;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 1.1px;
  color: var(--color-white);
  margin-bottom: var(--spacing-xxs);
  line-height: 1.4;
}

.features-carousel__subtitle {
  font-size: var(--font-size-xl);
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.9px;
  text-align: start;
  color: var(--color-white);
  line-height: 1.4;
  max-width: 90%;
}

@media (max-width: 768px) {
  .features-carousel {
    padding: var(--spacing-xl) 0;
  }

  .features-carousel__card {
    width: 85vw;
    height: 500px;
  }

  .features-carousel__title {
    font-size: var(--font-size-3xl);
  }

  .features-carousel__subtitle {
    font-size: var(--font-size-base);
    max-width: 100%;
  }

  .features-carousel__content {
    padding: var(--spacing-lg);
  }
}