 /* ========== BUTTON COMPONENT ========== */
 .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
    padding: 12px 1.5rem;
    font-size: var(--font-size-sm);
    font-weight: 600;
    border-radius: var(--radius-xmd);
    transition: all var(--transition-base);
    white-space: nowrap;
  }

  .btn:hover{
    cursor: pointer;
  }
  
  .btn--primary {
    background: var(--color-primary);
    color: var(--color-white);
  }
  
  .btn--primary:hover {
    background: var(--color-primary-dark);
    box-shadow: var(--shadow-lg);
  }

  .btn--white {
    background: var(--color-white);
    color: var(--color-black);
  }
  
  .btn--white:hover {
    background: var(--color-gray-100);
    color: var(--color-black);
    box-shadow: var(--shadow-lg);
  }

  .btn--black {
    background: var(--color-black);
    color: var(--color-white);
  }
  
  .btn--black:hover {
    box-shadow: var(--shadow-lg);
  }
  
  .btn--secondary {
    background: transparent;
    color: var(--color-primary-dark);
    border: 3px solid var(--color-primary-dark);
  }
  
  .btn--secondary:hover {
    background: var(--color-primary-dark);
    color: var(--color-white);
  }
  
  .btn--outline {
    background: transparent;
    border: 1px solid var(--color-black);
  }
  
  .btn--outline:hover {
    background-color: rgba(213, 212, 212, 0.5);
  }
  
  .btn--small {
    display: inline-flex;
  }
